#star-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  border: 1px solid #0d0d0d;
  box-shadow: 1px 1px #0d0d0d, 2px 2px #0d0d0d;
  padding: 1rem;
  width: 20rem;
}

input,
textarea,
button {
  display: block;
  margin: 0.5rem auto 0 auto;
  padding: 0.25rem 0.5rem;
}

input,
textarea {
  width: calc(100% - 1rem);
}

button {
  border: 1px solid #0d0d0d;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0 0 1rem 0;
}

.reviewItem {
  border: 1px solid #0d0d0d;
  box-shadow: 1px 1px #0d0d0d, 2px 2px #0d0d0d;
  padding: 1rem;
  width: 20rem;
  margin-top: 1rem;
}

body {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.iHdfHaGqOS6c_EOxV4s6YQHaE8%26pid%3DApi&f=1);
  background-color: rgb(148, 77, 170);
  background-repeat: no-repeat;
  background-size: cover;



}

.h2home {
  text-align: center;
  color: rgb(175, 8, 180);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}